---
import { LeadershipTeamGrid } from "@/components/grids";
import { Separator } from "@/components/ui/separator";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="About Us | App Development Club at Oregon State University"
  description="The App Development Club at Oregon State University is a student-run organization that focuses on teaching students how to develop all types of applications."
  mainClass="container py-10">
  <section class="space-y-8 max-w-4xl mx-auto" id="#team">
    <h1 class="font-heading text-4xl">About</h1>
    <Separator className="opacity-95" />
    <h2 class="font-subheading text-3xl font-normal">Leadership Team</h2>
    <LeadershipTeamGrid client:load />

    <h2 class="font-subheading text-3xl font-normal">Mission</h2>
    <span class="text-lg space-y-5">
      <p class="mt-6">
        The App Development Club at Oregon State University is a student-run
        organization that focuses on teaching students how to develop all types
        of applications. We aim to provide a space for students to learn and
        grow their skills in app development, as well as provide a community for
        students to connect with others who share similar interests.
      </p>

      <p>
        Our club is open to all students, regardless of their major or
        experience level. We believe that anyone can learn how to develop
        applications, and we strive to provide a welcoming and inclusive
        environment for all of our members.
      </p>

      <p>
        We host a variety of events and workshops throughout the year, including
        guest speakers, hackathons, and coding challenges. Our club also
        provides resources and support for students who are interested in
        pursuing internships or careers in app development.
      </p>

      <p>
        Whether you are a beginner who is interested in learning how to code, or
        an experienced developer who wants to connect with other students who
        share your passion, we invite you to join us and become a part of our
        community.
      </p>
    </span>

    <h2 class="font-subheading text-3xl font-normal">Values</h2>
    <span class="text-lg space-y-5">
      <p class="mt-6">
        <strong class="text-gradient_blaze-orange">Community:</strong> We believe
        in the power of community and strive to create a welcoming and inclusive
        environment for all of our members.
      </p>

      <p>
        <strong class="text-gradient_blaze-orange">Learning:</strong> We are committed
        to providing opportunities for students to learn and grow their skills in
        app development, as well as to connect with others who share similar interests.
      </p>

      <p>
        <strong class="text-gradient_blaze-orange">Collaboration:</strong> We believe
        that collaboration is essential to the app development process, and we encourage
        our members to work together and support each other in their projects and
        endeavors.
      </p>

      <p>
        <strong class="text-gradient_blaze-orange">Innovation:</strong> We are passionate
        about exploring new ideas and technologies, and we strive to create an environment
        that fosters creativity and innovation.
      </p>
    </span>
  </section>
</MainLayout>
