---
import FaqSection from "@/components/faq-section";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="FAQ | App Development Club at Oregon State University"
  description="Frequently Asked Questions (FAQ) about the App Development Club at Oregon State University. Find answers to common questions about our club and how to get involved."
  mainClass="min-h-screen container max-w-screen-md py-10"
>
  <section class="pt-16">
    <div class="space-y-6 text-center mb-14">
      <h1 class="font-heading text-4xl text-center">
        Frequently Asked Questions (FAQ)
      </h1>
      <p class="text-muted-foreground text-md">
        Got a question? Explore our most frequently asked questions to find the
        answers you need about our club. If you&apos;re still unsure, feel free
        to contact us through our contact page.
      </p>
    </div>
    <FaqSection client:load />
  </section>
</MainLayout>
