---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="Sponsor Us | App Development Club at Oregon State University"
  description="Sponsor the App Development Club at Oregon State University and help us provide over 500+ club members with the resources they need to succeed."
  mainClass="flex-1"
>
  <section
    class="container flex flex-col gap-6 py-8 md:max-w-[64rem] md:py-12 lg:py-18"
  >
    <div class="mx-auto flex w-full flex-col gap-4">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Empower the
        <span class="text-gradient_blaze-orange">Next Gen</span>
        of Technical Leaders
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
        Sponsor our club and help us provide over 500+ club members with the
        resources they need to succeed.
      </p>
    </div>

    <div class="mx-auto flex w-full flex-col gap-4 space-y-4">
      <h1 class="font-heading text-3xl leading-[1.1]">Perks</h1>

      <ul class="grid gap-6 sm:grid-cols-2">
        <li class="flex flex-col gap-2">
          <h3 class="font-heading text-xl leading-[1.1]">Job Board</h3>
          <p class="leading-normal text-muted-foreground">
            Post your job openings on our job board and get access to our
            members' resumes directly.
          </p>
        </li>
        <li class="flex flex-col gap-2">
          <h3 class="font-heading text-xl leading-[1.1]">
            Company Info Sessions
          </h3>
          <p class="leading-normal text-muted-foreground">
            Host a company info session to showcase your company and meet our
            members.
          </p>
        </li>
        <li class="flex flex-col gap-2">
          <h3 class="font-heading text-xl leading-[1.1]">Hackathons</h3>
          <p class="leading-normal text-muted-foreground">
            Sponsor our hackathons see the best student engineers utilize your
            technology in stunning ways.
          </p>
        </li>
        <li class="flex flex-col gap-2">
          <h3 class="font-heading text-xl leading-[1.1]">Workshops</h3>
          <p class="leading-normal text-muted-foreground">
            Worshops are a great way to teach our members about your technology
            and how to use it.
          </p>
        </li>
      </ul>
      <h4 class="font-heading text-2xl leading-[1.1]">
        Establish your brand on campus
      </h4>
      <p class="leading-normal text-muted-foreground max-w-2xl">
        We offer a variety of ways to establish your brand on campus, including
        sponsoring events, hosting workshops, and more.
      </p>

      <h4 class="font-heading text-2xl leading-[1.1]">
        Connect with top candidates
      </h4>

      <p class="leading-normal text-muted-foreground max-w-2xl">
        Our members are some of the top students in the country. By sponsoring
        our club, you'll get access to our members' resumes and have the
        opportunity to meet them at our events.
      </p>

      <h4 class="font-heading text-2xl leading-[1.1]">
        Show off your technology
      </h4>

      <p class="leading-normal text-muted-foreground max-w-2xl">
        We're pride ourselves on being the best place to display your tech and
        see our members use your APIs in creative and innovative ways.
      </p>
      <a href="/contact">
        <button
          class="py-3 px-8 bg-gradient-to-r from-orange-500 to-orange-600 hover:from-orange-600 hover:to-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 text-white rounded-md w-1/4"
        >
          Inquire Now
        </button>
      </a>
    </div>
  </section>
</MainLayout>
